<div class="grid-container">
<div class="item1">
  <div class="item3">
    <img src="https://img.freepik.com/vetores-premium/registro-on-line-ou-inscricao-login-para-conta-no-aplicativo-de-smartphone-interface-do-usuario-com-o-aplicativo-secure-password-mobile-para-ui-web-banner-access-ilustracao-em-vetor-desenho-animado_2175-1064.jpg?w=2000">
  </div>
  <div class="item4">
    <p>welcome</p>
  </div>
</div>
<div class="item2">
  <form class="Reg-form">
    <div>
     <label>username</label>
     <input type="text" placeholder="username *">
    </div>
    <div>
     <label>Email id</label>
     <input type="text" placeholder="email id *">
    </div>
    <div>
     <label >phone number</label>
     <input type="text" placeholder="phone number *">
    </div>
    <div>
     <label>qualification</label>
     <input type="text" placeholder="qualification *">
    </div>
    <div>
     <label>Resume</label>
     <input type="file" placeholder="resume *">
    </div>

   <button type="submit" class="btn btn-warning">Register</button>
   </form>
</div>
</div>
